---
layout: default
title: About Cécilia Lejeune
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl}}assets/images/vincent.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Cécilia Lejeune</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              a VR enthousiast
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>About</h4>
        <p> Fallen in VR in the last few years, I had opportunities to experiment/develop it in a research laboratory, in a private research and development center, and in many games jams too. My passion lies between the Human and the Technology, in the interface that allows them to connect and communicate to each other. I am the happy contributor of a non-profit organization that tries to make the virtual reality technology available for everyone, with the aim to teach people what it is and how to use it. My greatest challenge in near future will be to let my entrepreneurial mind lead my professional life, still doing what I love most ! I have many ideas and too few times to craft them ! </p>
        <blockquote class="largeQuote">“If you can dream it, you can do it. Always remember that this whole thing was started with a dream and a mouse.” - Walt Disney</blockquote>

        <p>I have interests in robotics, computer vision, small hacks to augment real world objects, nice UX/UI, art and design. I love to say that I'm a creative engineer.</p>

        <div class="img" src="{{site.baseurl_posts_img}}cecilia.jpg"></div>

      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
